@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  color: black; }

.btn-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 14px;
  color: white; }

.top-bar {
  width: 100%;
  height: 10vh;
  background: #2F353D;
  position: relative;
  display: flex;
  align-items: center; }
  .top-bar .logo {
    width: 110px;
    display: flex;
    margin-left: 15px; }
    .top-bar .logo img {
      width: inherit; }
  .top-bar .burger {
    position: absolute;
    right: 15px;
    color: white;
    display: flex;
    font-size: 30px; }
  .top-bar .drop-menu {
    display: none;
    z-index: 1;
    width: 190px;
    position: absolute;
    top: 10vh;
    right: 0px;
    -webkit-box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75); }
    .top-bar .drop-menu ul {
      background: #E4E7EB;
      position: absolute;
      right: 0px;
      width: inherit; }
      .top-bar .drop-menu ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        border-top: 1px solid white;
        border-bottom: 1px solid white; }

.top-bar .home-icon-cont {
  position: relative;
  left: 15px; }

.home-icon {
  width: 40px;
  height: 40px; }

.add-btn {
  width: 120px;
  height: 5vh;
  background: #0085BA;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }

.add-new-toggle {
  display: none;
  position: absolute;
  left: 10vw;
  top: 20vh;
  z-index: 2;
  width: 80%;
  height: 30vh; }

.add-new-sec {
  background: #E4E7EB;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75); }
  .add-new-sec input {
    height: 5vh;
    width: 80%; }
  .add-new-sec .confirm-btn {
    width: 120px;
    height: 5vh;
    background: #0085BA;
    display: flex;
    justify-content: center; }

.center-sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  border-bottom: 1px solid white; }
  .center-sec .bg-img-container {
    height: 50vh; }
  .center-sec .bg-img {
    opacity: 0.4;
    height: 100%;
    object-fit: cover;
    max-width: 100vw; }
  .center-sec .desc-sec {
    position: absolute;
    display: flex;
    align-items: center;
    width: 250px;
    height: 10vh;
    background: #F1F5F9; }
    .center-sec .desc-sec .desc-icon {
      position: absolute;
      left: 15px;
      width: 40px;
      height: 40px; }
    .center-sec .desc-sec .desc-text {
      position: absolute;
      left: 100px; }

.nav-list {
  position: absolute;
  max-height: 40%;
  overflow: auto;
  bottom: 0;
  left: 0;
  right: 0; }
  .nav-list .nav-item {
    position: relative; }
    .nav-list .nav-item .nav-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 10vh;
      background: #E4E7EB;
      border-top: 1px solid white;
      border-bottom: 1px solid white; }
    .nav-list .nav-item .nav-icon {
      position: absolute;
      width: 40px;
      height: 40px;
      display: flex;
      top: 15px;
      right: 15px; }
      .nav-list .nav-item .nav-icon img {
        align-items: center;
        margin: 0 auto;
        width: 70%; }

/*# sourceMappingURL=style.css.map */
