@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&display=swap');

.text{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  color: black;
}

.btn-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 14px;
  color: white;
}
